BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true